Q3. Sales of products in four different regions is tabulated for males and females.
Find if male-female buyer rations are similaracross regions.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
data=pd.read_csv("c:/Users/dell/Downloads/BuyerRatio.csv")

In [3]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
df=data.iloc[:,1:6]

In [5]:
df

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [6]:
df=np.array([[50,142,131,70],[435,1523,1356,750]])
df

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [7]:
#Chi2 contengency independence test
chi2_contingency(df)
# output is (Chi2 stats value, p_value, degree of freedom ,expected observations)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

Assume Null hypothesis (Ho) Independence of categorical variables-male,
female ratio are similar across region, does not vary and are not related
Alternate hyothesis as (Ha) Dependence of categorical variabless male,
female are not similar across region, does vary and related

inference p_value=o.6603 > Î± = 0.05 accept the' Null Hypothesis'